<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
	   	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd

">

    <!-- 数据库连接 -->
    <bean id="myDateSource"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"
                  value="oracle.jdbc.OracleDriver"/>
        <property name="url"
                  value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="JX190202"/>
        <property name="password" value="JX190202"/>
    </bean>


    <!-- 放对数据库操作的xml -->
    <bean id="sqlSessionFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="myDateSource"/>
        <property name="mapperLocations" value="classpath:/*.xml"/>
    </bean>

    <!-- Mapper包 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="inte"/>
    </bean>

    <!-- 扫描器!!!base-package==扫描路径 -->
    <context:component-scan
            base-package="com">
    </context:component-scan>

</beans>